@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}
#btn{
  background-color: #36ca8f;
}
#btn:hover{
  background-color: #068955;
}

#bem-prep-card{
  background-color: #86fe00;
}
#bac-prep-card{
  background-color:#1df45d;
}
.separator{
  border-color: black;
  background-color: black;

}
.borders{
  border-color: #1df45d;

}
.texts{
  color:#1df45d
}

.background{
  background-color: #61faaf;
}

.background-dark{
  background-color: #00ba70;

}